@model CubiculosTEC.Models.Cubiculo
@{
    ViewData["Title"] = "Edicion de cubículos";
    Layout = "AdminLayout";
}



<div>
    <h1 class="display-4">Gestión de Cubículo</h1>
    <label>Gestionando ajustes del @ViewBag.Cubiculo.getNombre() </label>
    <form method="post" action="@Url.Action("cambiarEstado", "Admin")" >
        <input type="hidden" name="elId" value="@ViewBag.Cubiculo.getId()">
        <div class="edit-label">
            <label style="font-size: 20px;">Estado</label>
            <div class="col-sm-6">
                <select class="login-entry" name="elEstado">
                    <option value="1" >Libre </option>
                    <option value="2" >Ocupado </option>
                    <option value="3" >En mantenimiento </option>
                </select>
            </div>
        </div>
        <button style="align-self: center;" class="btn-accept" type="submit">Cambiar estado</button>
    </form>
    <form method="post" action="@Url.Action("definirHoraMaxima", "Admin")" >
        <input type="hidden" name="elId" value="@ViewBag.Cubiculo.getId()">
        <div class="edit-label">
            <label style="font-size: 20px;">Tiempo máximo</label>
            <div class="col-sm-6">
                <input type="time" name="eltiempoMaximo" class="login-entry" value="@ViewBag.Cubiculo.getTiempoMaximo()">
            </div>
        </div>
        <button style="align-self: center;" class="btn-accept" type="submit">Aplicar tiempo máximo</button>
    </form>
    <form method="post" action="@Url.Action("realizarBloqueo", "Admin")" >
        <input type="hidden" name="elId" value="@ViewBag.Cubiculo.getId()">
        <div class="edit-label">
            <label style="font-size: 20px;">Fecha del bloqueo</label>
            <div class="col-sm-6">
                <input type="date" name="laFechaDeUso" class="login-entry" value="">
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Hora de inicio</label>
            <div class="col-sm-6">
                <input type="time" name="laHoraInicio" class="login-entry" value="">
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Hora de fin</label>
            <div class="col-sm-6">
                <input type="time" name="laHoraFinal" class="login-entry" value="">
            </div>
        </div>
        <button style="align-self: center;" class="btn-accept" type="submit">Realizar bloqueo</button>
    </form>


</div>