@{
    ViewData["Title"] = "Gestión de estudiantes";
    Layout = "AdminLayout";
}


<script>
function buscar() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("busq");
  filter = input.value.toUpperCase();
  table = document.getElementById("tablaEstudiantes");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<div class="text-center">
    <h1 class="display-4">Gestión de estudiantes</h1>

    <div style="display: flex; flex-direction: column">
        <input class="search-bar" type="text" id="busq" onkeyup="buscar()" placeholder="Buscar estudiante...">
        <table id="tablaEstudiantes" style="margin-top: 60px;" class="table">
            <thead >
                <tr style="background: #299CCB">
                <th style="color:white; font-size:110%">Nombre</th>
                <th style="color:white; font-size:110%">Carnet</th>
                <th style="color:white; font-size:110%">Correo electrónico</th>
                <th style="color:white; font-size:110%">Estado</th>
                <th style="color:white; font-size:110%">Acciones</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var unEstudiante in ViewBag.Estudiantes)
                {
                    <tr>
                    <td align="center" > @unEstudiante.nombre @unEstudiante.apellido1 @unEstudiante.apellido2 </td>
                    <td align="center" > 2023123456 </td>
                    <td align="center" > @unEstudiante.correo </td>
                    <td align="center" > @unEstudiante.estado </td>
                    <td><a style="text-decoration: none;padding: 6px;"
                    href="/Admin/editEstudiante?id=@unEstudiante.id" class="btn-select">Editar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>