@{
    var todosCubiculos = ViewBag.Cubiculos;
}

@{
    ViewData["Title"] = "Reservación de cubículos";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    @{
        ViewData["Title"] = "Reservar cubículo";
    }
    <h1 style="color: #084e7d">@ViewData["Title"]</h1>
    <link rel="stylesheet" href="./src/tablesort.css">

    <p>
</head>

<script>
function actualizarReserva(n,c,id) {
  document.getElementById("nombreCubiculo").innerHTML = n;
  document.getElementById("capacidadCubiculo").innerHTML = c;
  document.getElementById("idCubiculo").innerHTML = id;

}

function filtrar() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("busq");
  filter = input.value.toUpperCase();
  table = document.getElementById("tablaCubiculos");
  tr = table.getElementsByTagName("tr");
  
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<body>
    <div class="cont-formulario">
        <table id="tablaCubiculos" style="margin-top: 60px; width: 50%;" class="table table-hover row-clickable">
            <thead>
                <tr style="background: #299CCB">
                    <th style="color:white; font-size:110%">Número de cubículo</th>
                    <th style="color:white; font-size:110%;text-align: center;">
                        Capacidad
                        <select id="busq" onChange="filtrar()" class="table-filter filtro-dropdown">
                            <option value=""></option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                        
                        </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var unCubiculo in ViewBag.Cubiculos)
                {
                    <tr onclick="actualizarReserva('@unCubiculo.getNombre()','@unCubiculo.getCapacidad()','@unCubiculo.getId()')">
                        <td> @unCubiculo.getNombre() </td>
                        <td align="center"> @unCubiculo.getCapacidad() </td>

                    </tr>
                }
            </tbody>

        </table>
        <table style="width: 35%; position: relative; border: 2px solid #006194;">
            <thead>
                <tr height="100" style="background-color: #299CCB;">
                    <td width="175" style="color:white; font-size:180%" align="center">¿Desea reservar este cubículo?
                    </td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td align="center">
                        <div>
                            <form action=".." method="GET">
                                <label style="font-size:210% ;color: #084e7d" id="nombreCubiculo" align="center"></label><br>
                                <label style="font-size:210%;color: #084e7d" align="center">Capacidad:</label>
                                <label style="font-size:210%;color: #084e7d" id="capacidadCubiculo" align="center"></label><br>
                                <input type="hidden" id="idCubiculo"></input><br>
                                <input type="hidden" id="idEstudiante"></input>
                                <div style="margin-bottom: 20px">
                                    <label for="date">Fecha de apartado: </label>
                                    <input class="form-entry" type="date" name="date" id="date" min="2023-21-03"
                                        required>
                                </div>
                                <div style="margin-bottom: 20px">
                                    <label for="inicio">Hora inicio </label>
                                    <input class="form-entry" type="time" name="inicio" id="inicio" required>
                                </div>
                                <div style="margin-bottom: 20px">
                                    <label for="fin">Hora fin </label>
                                    <input class="form-entry" type="time" name="fin" id="fin" required>
                                </div>
                                <div style="margin-bottom: 20px">
                                    <label for="servicio1">Servicio 1</label>
                                    <input type="radio" name="servicio" id="servicio1" required>
                                </div>
                                <div style="margin-bottom: 20px">
                                    <label for="servicio2">Servicio 2</label>
                                    <input type="radio" name="servicio" id="servicio2" required>
                                </div>
                                <div style="margin-bottom: 20px">
                                    <label for="servicio3">Servicio 3</label>
                                    <input type="radio" name="servicio" id="servicio3" required>
                                </div>
                                <button style="margin-bottom: 20px" type="submit" class="btn-accept">Reservar Cubículo</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>