@model CubiculosTEC.Models.Registro
@{
    Layout = "LoginLayout";
}

<!DOCTYPE html>
<html lang="en">


<head>
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	@using (Html.BeginForm("Index","Registro", FormMethod.Post)){
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">

					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
					<title>Registro</title>
					<h1 style="color:#004879">Registro de usuario </h1>

					<h2>
						Por favor proporciona los siguientes datos para poder realizar el registro.
					</h2>
					<div class="cont-formulario">

						<div>
							
							<div class="wrap-input100 validate-input" data-validate="Numero de cédula">
								<h3 style="font-size: 20px;">Número de cédula</h3><br>
								<h3>@Html.TextBoxFor(m => m.cedula, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.cedula,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							

							<div class="wrap-input100 validate-input" data-validate="Numero de carne">
								<h3 style="font-size: 20px;">Número de carné</h3><br>
								<h3>@Html.TextBoxFor(m => m.carne, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.carne,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input " data-validate="Nombre">
								<h3 style="font-size: 20px;">Nombre</h3><br>
								<h3>@Html.TextBoxFor(m => m.nombre, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.nombre,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>

							<div class="wrap-input100 validate-input">
								<h3 style="font-size: 20px;">Primer apellido </h3><br>
								<h3>@Html.TextBoxFor(m => m.apellido1, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.apellido1,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>

							<div class="wrap-input100 validate-input">
								<h3 style="font-size: 20px;">Segundo apellido </h3><br>
								<h3>@Html.TextBoxFor(m => m.apellido2, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.apellido2,"", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div><br>
						</div>
						<div style="display: flex;flex-direction: column">

							<div class="wrap-input100 validate-input" data-validate="Fecha de nacimiento">
								<h3 style="font-size: 20px;">Fecha de nacimiento</h3><br>
								<input class="login-entry" type="date" name= "laFechaNacimiento" value="2000-01-01">
							</div><br>							

							<div class="wrap-input100 validate-input" data-validate="Enter email">
								<h3 style="font-size: 20px;">Correo electrónico</h3><br>
								<h3>@Html.TextBoxFor(m => m.correo, new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.correo,"", new {@class="error"})</h3>
								<h3>@Html.ValidationMessage("Custom Error", new {@class="error"})</h3>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>

							<div class="wrap-input100 validate-input" data-validate="Enter password">
								<h3 style="font-size: 20px;">Contraseña</h3><br>
								<h3>@Html.PasswordFor(m => m.contrasena , new {@class="login-entry"})</h3>
								<h3>@Html.ValidationMessageFor(m => m.contrasena,"", new {@class="error"})
								<br>Debe contener:
								<br>-Mínimo 8 caracteres.
								<br>-Al menos una letra mayúscula.
								<br>-Al menos una letra minúscula.
								<br>-Al menos un símbolo especial.</h3><br><br>
								<span class="focus-input100" data-placeholder="&#xf191;"></span>
							</div><br>
							<button style="align-self: center;" class="btn-accept" type="submit">Registrarme</button>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	}
	
</body>

</html>